body {
  max-width: 480px;
}

body * {
  background-color: darkolivegreen;
}

.full {
  width: 100%;
}

.nav {
  width: 100%;
  height: 75px;
}

.sub-nav {
  width: 100%;
  height: 150px;
}

.top-tiles {
  width: 100%;
  height: 125px;
}

.bottom-tiles {
  width: 50%;
  height: 250px;
  float: left;
}

.footer {
  width: 100%;
  height: 80px;
  float: left;
}

nav:first-of-type {
  background-color:rgb(165, 165, 165);
 }

 aside:first-of-type {
  background-color:rgb(165,0, 42);
 }

section:first-of-type {
  background-color:lightblue;
 }
section:nth-last-of-type(1) {
 background: palevioletred;
}
section:nth-last-of-type(2) {
  background: gold;
 }
 section:nth-last-of-type(3) {
  background:blueviolet;
 }
 section:nth-last-of-type(4){
  background:burlywood;
 }
 section:nth-last-of-type(5){
  background:salmon;
 }
 footer:first-of-type {
  background-color:plum;
 }